h1 {
  .black {
    color: #000;
  }
}
.bit-button {
  span, svg {
    pointer-events: none;
  }
}

.bit-button {
  display: block;
  text-align: center;
  padding: 20px;
  width: 234px;
  color: #3CA3D6;
  background: #FFFFFF;
  box-shadow: 0px 6px 10px rgba(38, 89, 241, 0.2);
  border-radius: 16px;
  font-weight: 700;
  .bit-button_text+svg {
    margin-left: 10px;
  }
}
.bit-button-blue {
  color: #FFFFFF;
  background: #3CA3D6;
}

body .el-table th.gutter {
  display: table-cell !important;
}

body .el-table colgroup.gutter {
  display: table-cell !important;
}

table {
  width: 100% !important;
}

.el-table__body {
  // 使表格兼容safari，不错位
  width: 100%;
  table-layout: fixed !important;
}

.isDisabled {
  cursor: not-allowed;
  opacity: 0.8;
  color: rgba(0,0,0,0.5)!important;
  text-decoration: none;
  pointer-events: none;
}
span.pink {
  color: #f9c3cb;
}
span.blue {
  color: #3ca3d6;
}
.analyze-section-title {
  font-size: 18px;
  // font-weight: 700;
  color: #121212;
  margin-bottom: 1rem;
}