h1 {
  .black {
    color: #000;
  }
}
.bit-button {
  span, svg {
    pointer-events: none;
  }
}

.bit-button {
  display: block;
  text-align: center;
  padding: 20px;
  width: 234px;
  color: #0E47EF;
  background: #FFFFFF;
  box-shadow: 0px 6px 10px rgba(38, 89, 241, 0.2);
  border-radius: 16px;
  font-weight: 700;
  .bit-button_text+svg {
    margin-left: 10px;
  }
}
.bit-button-blue {
  color: #FFFFFF;
  background: #0E47EF;
}