/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
	padding: 0;
	margin: 0;
	border: 0;
}

[hidden] {
  display: none !important;
}

a {
	text-decoration: none;
	color: #000;
}


@font-face {
  font-family: 'Space Grotesk';
  src: url('./font/SpaceGrotesk-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('./font/SpaceGrotesk-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Space Grotesk';
	src: url('./font/SpaceGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

html{
	/* background: black; */
}

body{
	font-family: "Space Grotesk", -apple-system, BlinkMacSystemFont, "Roboto", "Arial", sans-serif!important;
	/* min-width: 1280px; */

}

.light{
	font-weight: 400;
}

.bold{
	font-weight: 700;
}

:root{
	/* --primary-background-color: black; */
}


.bg-image{
	width: 100%;
}

.flex-center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
